/ The 2 Buttons for the user to interact with
%button#authorize-button{style: "visibility: hidden"} Authorize
%br/
%button#make-api-call-button{style: "visibility: hidden"} Get Sessions
/ These JavaScript files will be created later on in the tutorial
%script{src: "javascripts/hello_analytics_api_v3_auth.js"}
%script{src: "javascripts/hello_analytics_api_v3.js"}
/ Load the Client Library. Use the onload parameter to specify a callback function
%script{src: "https://apis.google.com/js/client.js?onload=handleClientLoad"}
