:javascript
  window.onload=function(){
    zingchart.render({
    id : "myChartDiv",
    height : 450,
    width : 600,
    data : myChart,
    output : "svg"
    });
  };

/ The chart will render here.
#myChartDiv
